name: NPM Publish
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Setup Node.js 20
      uses: actions/setup-node@v3
      with:
        node-version: 20
        check-latest: true
        registry-url: https://registry.npmjs.org/
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Install Dependencies
      run: npm install
    - name: Publish Package to NPM Registry
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
